@font-face {
  font-family: 'AttenNew';  
  src: url('<https://images.ctfassets.net/lyqt8dkk29ch/4cJ8h8sp0SbNX6Ro03aYfv/7b2b2e8dfe596a2bd303fa7e396f38de/attennewregular.woff2>') format('woff2');
  font-weight: 400;
  font-style: normal;
}
